<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>网易云音乐</title>
		<!-- 网易云logo   小图标 -->
		<meta property="og:image" content="img/logo.png" />
		<link href="img/logo.png" rel="shortcut icon" type="image/x-icon" style="border-radius: 50%;">
		<!--    彭福生的版权所有     -->
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/index.css" />
		<!-- <link rel="stylesheet" type="text/css" href="css/style_two.css" /> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	</head>
	<body>
		<!-- 改  导航栏-->
		<div class="bg-dark text-center shadow-lg fixed-top">
			<nav class="navbar navbar-expand-xl navbar-dark bg-dark container ">
				<h1 class="r"><a href="index.html"></a></h1>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsExample06">
					<ul class="list-inline list-unstyled text-center pt-2dian5 pl-2 nav nav-justified nav-tabs mr-auto">
						<li class="list-inline-item px-1 h6 "><a href="#shouye" data-toggle="tab">首页</a></li>
						<li class="list-inline-item px-2 h6 "><a href="#faxian" data-toggle="tab">发现音乐</a></li>
						<li class="list-inline-item px-2 h6 "><a href="#pengyou" data-toggle="tab">朋友</a></li>
						<li class="list-inline-item px-2 h6 "><a href="#wode" data-toggle="tab">我的音乐</a></li>
						<li class="list-inline-item px-2 h6 "><a href="#yingyueren" data-toggle="tab">音乐人</a></li>
						<li class="list-inline-item px-2 h6 "><a href="#xiazai" data-toggle="tab" class="text-danger">下载客户端</a></li>
					</ul>
<!-- 					<div class="">
						<form class="form-inline">
							<input class="form-control mr-2 shadow rounded-pill" type="text" placeholder="音乐/视频/电台/用户" aria-label="text">
							<button class="btn btn-outline-danger my-2 rounded-pill" type="button"
								onclick="window.location.href='index_two.html'">创作者中心</button>
							<a href="#denglu" class="pl-3 text-secondary" data-toggle="tab">登录</a>
						</form>
					</div> -->
				</div>
			</nav>
		</div>
		<!-- 网易 -->
			<div class="wrap">
			  <!-- 播放器主体区域 -->
			  <div class="play_wrap" id="player">
			    <div class="search_bar">
			      <h4 class="pl-4 text-danger">网易云</h4>
			      <!-- 搜索歌曲 -->
			      <input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic" />
			    </div>
			  
			    <div class="center_con">
			      <!-- 搜索歌曲列表 -->
			      <div class='song_wrapper'>
			        <ul class="song_list">
			          <li v-for="item in musicList">
			            <a href="javascript:;" @click="playMusic(item.id)"></a> 
			            <b>{{ item.name }}</b> 
			            <span v-if="item.mvid!=0" @click="playMV(item.mvid)"><i></i></span>
			          </li>
			        </ul>
			        <img src="img/line.png" class="switch_btn" alt="">
			      </div>
			      <!-- 歌曲信息容器 -->
			      <div class="player_con ml-6" :class="{playing:isPlaying}">
			        <img src="img/player_bar.png" class="play_bar" />
			        <!-- 黑胶碟片 -->
			        <img src="img/disc.png" class="disc autoRotate" />
			        <img :src="musicCover" class="cover autoRotate" />
			      </div>
			    </div>
			    <div class="audio_con">
			      <audio ref='audio' @play="play" @pause="pause" :src="musicUrl" controls autoplay loop class="myaudio"></audio>
			    </div>
			    <div class="video_con" v-show="isShow" style="display: none;">
			      <video :src="mvUrl" controls="controls"></video>
			      <div class="mask" @click="hide"></div>
			    </div>
			  </div>
			</div>


		<script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
